# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

protoc-gen-persist
vendor
src
.wercker
examples/*.go
examples/test/*.go
*.cover*

examples/user_spanner_bazel/user_spanner_bazel
examples/user_spanner/user_spanner
examples/user_sql/user_sql

# docs
docs/_site
docs/Gemfile
docs/Gemfile.lock
.DS_Store

protoc-gen-persist*
*~


bazel*
.vscode
