---
---

//We really don't need anything from the base "theme".
// @import "{{ site.theme }}";

//TCN Bootstrap Build and Bootstrap Theme.
@import "tcn-bootstrap.min.css";
@import "tcn-bootstrap-theme.min.css";

$tcn-primary-3:         #DFD8CD; //Tan

//Additional styling for this specific template.

/* Navbar Modificationse
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* padding to compensate for fixed navbar */
body {
  margin-bottom: 60px;
}

//Navbar
.navbar.navbar-static-top {
  margin-bottom: 0;
  .navbar-btn{
    margin-left:10px;
  }
}


/* Page Header
-------------------------------------------------- */
.primary-page-header {
  padding: 40px 0;
  text-align: center;
  border-bottom: 5px solid #eaeaea;
  h1 {
    text-shadow: 0 0 55px rgba(255,255,255, 1);
    font-weight: bold;
    margin-bottom: -25px;
    font-size: 4em;
    color: #254e60;
  }
  .project-tagline {
    margin: 20px 0 30px;
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms;
  }
  .img-responsive{
    margin: 0 auto;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }
}

.blog-page-header {
  padding: 20px 0;
  text-align: center;
  border-bottom: 5px solid #eaeaea;
  h1, h2 {
    text-shadow: 0 0 55px rgba(255,255,255, 1);
    font-weight: bold;
    font-size: 4em;
    color: #254e60;
  }
  h2{
    font-size: 2.2em;
  }
  .project-tagline {
    text-shadow: 0 0 55px rgba(255,255,255, 1);
    text-transform: uppercase;
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms;
    font-size: 1.8em;
  }
}

/* Main Content
-------------------------------------------------- */
.main-content {
  padding-bottom: 40px;
  h1, h2 {
    margin-top: 0;
  }

  .markdown-content {
    h1, h2 {
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 10px;
      margin-top:40px;
    }
  }

  //Repo Grid
  .repos {
    padding-bottom: 70px;
    border-bottom: 5px solid #eaeaea;

    section {
      padding:15px;
      border-radius: 5px;
      &:hover .inner{
        box-shadow: 1px 1px 12px darken($tcn-primary-3, 20%);
      }
      .inner {
        min-height: 250px;
        padding: 15px;
        border-radius: 5px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(0,0,0,.05);
        transition: box-shadow 200ms ease-in-out;
      }

      h3 {
        line-height: 1.3em;
        a{
          color: inherit;
        }
      }

      p{
        margin-bottom: 20px;
        font-weight: 200;
        font-size: .9em;
      }
    }
  }

  .markdown-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .post{
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #eaeaea;
    h3{
      margin-top: 0;
    }
    .post-header .label{
      margin-top: 12px;
      padding: 5px;
      @media(max-width: 768px){
        float:none!important;
        margin-bottom:10px;
        margin-top: 0;
        display: inline-block;
      }
    }
  }
  .post:last-child{
    margin-bottom:0;
    border: 0;
  }

}

.posts-page {
  .blog-page-header {
    padding-bottom: 70px;
  }
  .main-content{
      margin-top: -50px;
      background: #FFF;
      border-radius: 15px;
      .post{
        padding: 0 30px;
      }
  }
}


/* Sticky footer
-------------------------------------------------- */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f8f8f8;
  padding: 10px 0;
  font-size: .8em;
}


/* Animations -- from Animate.css | https://github.com/daneden/animate.css
-------------------------------------------------- */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes floater {
  from {
    animation-timing-function: cubic-bezier(0.44, 0.00, 0.65, 1);
    transform: translate3d(0,5px,0);
  }
  50%{
    animation-timing-function: cubic-bezier(0.44, 0.00, 0.65, 1);
    transform: translate3d(0,-10px,0);
  }
  to {
    animation-timing-function: cubic-bezier(0.44, 0.00, 0.65, 1);
    transform: translate3d(0,5px,0);
  }
}

.floater {
  animation-name: floater;
  transform-origin: center bottom;
}